*{
			margin:0;
			padding:0;
			box-sizing: border-box;
			font-weight: 100;
			font-family: 'Quicksand', sans-serif;
		}
		body{
			height: 100vh;
			background: radial-gradient(circle ,#ffffff,lightskyblue);
		}
		.container {
			height:100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			flex-basis: 400px;
		}
		#greeting,#message,#userString,#btn{
			display:none;
		}
		@keyframes fadeInUp {
			0% {
				opacity: 0;
				transform: translateY(-100px);
			}
			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}
		#getUserName {
			position: absolute;
			padding:20px;
			background: radial-gradient(#ffcf00, transparent);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			animation: fadeInUp 1000ms;
		}
		#userName,#btn1{
			padding: 2%;
			margin-top: 2%;
			background: #ffea8d;
			font-size: 18px;
			border: 1px solid lightskyblue;
			font-weight: 900;
			text-align: center;
		}
		#greeting{ margin-bottom:50px;}
		#message{
			text-shadow: 3px 3px 3px #313e3d;
			font-weight: 900;
		}
		#userString {
			width: 90%;
			min-height: 100px;
			flex-basis: 25%;
			padding: 10px;
			margin: 20px 0;
			font-size: 22px;
			background-color: #bdccd2;
			font-weight: bold;
			color: navy;
			border: 10px ridge;
			resize:none;
		}
		#userString:focus{
			outline:0;
		}
		#btn{
			padding: 10px 20px;
			box-shadow: 0 0px 40px #083e4e;
			color: #095f3f;
			border-radius: 13px;
			border: none;
			transition: all .8s;
			font-weight: 900;
		}
		#btn:hover, #btn:active, #btn:focus {
			cursor: pointer;
			outline: none;
			padding: 10px 25px;
			background: #083e4e6b;
			color: white;
			box-shadow: 0 0px 40px #45ff72;
		}