*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
    color:#fff;
}
a:hover{
    color:#89FFE9;
}
body{ background:#e4e7e5;}
header,footer{
    background: #626262;
}
.dropdown-menu{
    background-color:#626262 !important;
}
.dropdown-menu>a:hover{
    color:#89FFE9 !important;
}
header a{
    color:#fff;
}
.my-style:hover{
    color:white; 
}
.item{
    height: 400px;
    background-image: url(assets/image/fruits.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.button{
    width:100px;
}
.owl-dots{
    position: absolute;
    left: 50%;
    transform: translate(-5px, 0);
}
.owl-dots>button{
    background: black !important;
    width:10px;
    height: 10px;
    margin:0px 5px;
    border-radius: 100%;
}
.post{
    min-height: 490px !important;
}
.social i{
    font-size: 35px;
}